.parent{
    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 30px;
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: start; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    height: 350px;
    /* align-items: stretch; */
    /* align-items: start; */
    align-items: center;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
}

.child{
    border: 2px solid aqua;
    background-color: whitesmoke;
    padding: 20px;
    font-size: 28px;
    margin: 10px 0;
    /* display: inline; */
}